<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<header class="header">
  <div class="container">
    <h1 class="logo">Priscilla</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/archive">Blog</a>
    </nav>
  </div>
</header>

<main class="main">
  {{ content }}
</main>

<footer class="footer">
  <p>© 2026 Priscilla</p>
</footer>

</body>
</html>
