---
layout: default
---

<article class="container">
  <h1>{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: "%B %d, %Y" }}</p>

  {{ content }}

  <hr>

  <div class="post_navi">
    {% if page.previous %}
      <a class="post_navi-item nav_prev" href="{{ page.previous.url }}">
        ← {{ page.previous.title }}
      </a>
    {% endif %}

    {% if page.next %}
      <a class="post_navi-item nav_next" href="{{ page.next.url }}">
        {{ page.next.title }} →
      </a>
    {% endif %}
  </div>
</article>
